.banner {
background-image:url("../images/astor-kino-vorhang.jpeg");
height: 300vh;
background-size: cover;
background-position: top;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 600px;
color: #ffffff;

}

body{
    margin: 0%;
}

