.banner {
background-image:url("../images/astor-kino-vorhang.jpeg");
height: 300vh;
background-size: cover;
background-position: top;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 600px;
color: #ffffff;

}

body{
    margin: 0%;
}
 

.card-banner {
    background-color: black;
    border-radius: 6%;
    padding: 25px;
    box-shadow: 1px 1px 12px 1px rgb(0, 0, 0);
    
  }
  
